[Desktop Entry]
Version=1.0
Name=Youtube
Comment=Youtube
Exec=zen-browser https://www.youtube.com/
Terminal=false
Type=Application
Icon=~/.local/share/applications/icons/youtube.png
StartupNotify=true
